body {
padding: 0;
margin: 0;
position: relative;

}
#overlay{
    position: absolute;
    left: 40px;
    top : -18px;
    user-select: none;
}
#map { 
    height: 100vh;
    width: 100vw;
}
.labels {
    text-shadow: 1px 0 1px white, -1px 0 1px white;
}
/* remove the labels arrows */
.leaflet-tooltip-top::before {
    background-color: transparent;
    border-color: transparent;
}
.leaflet-tooltip {
    background-color: transparent;
    border: 0px;
    box-shadow: none;
}
#sidebar{
    position: absolute;
    width: 30%;
    height: 100%;
    background: white;
    top: 0;
    left: -30%;
    z-index: 1000;
    overflow: hidden;
    transition: left 800ms;
}
#sidebar-top-image{
    background: grey;
    background-image: url("../images/footscray_hotel.jpg");
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 100%;
}
#sidebar-title{
    display: flex;
    font-size: 1.8em; 
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #db4437;
    color: white;
    height : 50px;
}
#sidebar-description{
    padding: 5px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: start;
}
#sidebar-description * {
    margin: 0;
}